<footer>
  <div class="container-footer">
    <div class="footer-nav-wrap">
      <a href="/" class="logo-icon-link">
        <img
          class="logo-icon"
          src="./img/logo-f.svg"
          width="280"
          height="121"
          alt="logo"
        />
      </a>

      <nav class="footer-navigation">
        <ul class="footer-nav-list">
          <li>
            <a href="#about-id" class="footer-nav-item">Про нас</a>
          </li>
          <li>
            <a href="#advantages-id" class="footer-nav-item">Переваги</a>
          </li>
          <li>
            <a href="#assortment-id" class="footer-nav-item">Асортимент</a>
          </li>
          <li>
            <a href="#gallery-id" class="footer-nav-item">Галерея</a>
          </li>
          <li>
            <a href="#feedbacks-id" class="footer-nav-item">Відгуки</a>
          </li>
          <li>
            <a href="#support-id" class="footer-nav-item">Контакти</a>
          </li>
        </ul>
      </nav>

      <ul class="footer-socials">
        <li class="ftr-socials-item">
          <a
            href="https://www.instagram.com/"
            class="ftr-icon-link"
            target="_blank"
          >
            <svg class="ftr-socials-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="ftr-socials-item">
          <a
            href="https://www.linkedin.com/"
            class="ftr-icon-link"
            target="_blank"
          >
            <svg class="ftr-socials-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="ftr-socials-item">
          <a
            href="https://www.youtube.com/"
            class="ftr-icon-link"
            target="_blank"
          >
            <svg class="ftr-socials-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="addreess-copyright-wrap">
      <address>
        <ul class="ftr-address-list">
          <li class="ftr-address-item">
            <a href="tel:+380999091122">+38 (099) 909 11 22</a>
          </li>
          <li class="ftr-address-item">
            <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
          </li>
        </ul>
      </address>
      <p class="copyright-text">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
