<section class="section gallery-section" id="gallery-id">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <!-- Woman with products -->
      <li class="gallery-item">
        <img
          src="./img/gallery-images/woman-with-products.jpg"
          srcset="
            ./img/gallery-images/woman-with-products.jpg     600w,
            ./img/gallery-images/woman-with-products@2x.jpg 1200w
          "
          sizes="100vw"
          alt="woman with products"
        />
      </li>
      <!-- Stylish man in big city -->
      <li class="gallery-item">
        <img
          src="./img/gallery-images/stylish-man-walking.jpg"
          srcset="
            ./img/gallery-images/stylish-man-walking.jpg     600w,
            ./img/gallery-images/stylish-man-walking@2x.jpg 1200w
          "
          sizes="100vw"
          alt="stylish man walking"
        />
      </li>
      <!-- 3. Woman with package takes walk in the park -->
      <li class="gallery-item">
        <img
          src="./img/gallery-images/woman-in-park.jpg"
          srcset="
            ./img/gallery-images/woman-in-park.jpg     600w,
            ./img/gallery-images/woman-in-park@2x.jpg 1200w
          "
          sizes="100vw"
          alt="woman in park"
        />
      </li>
      <!-- 4. EcoTotes package on a chair -->
      <li class="gallery-item">
        <img
          src="./img/gallery-images/eco-on-chair.jpg"
          srcset="
            ./img/gallery-images/eco-on-chair.jpg     600w,
            ./img/gallery-images/eco-on-chair@2x.jpg 1200w
          "
          sizes="100vw"
          alt="eco on chair"
        />
      </li>
    </ul>
  </div>
</section>
