<section class="feedbacks-section .container" id="feedbacks-id">
  <h2 class="feedbacks-h">Що говорять наші клієнти</h2>
  <ul class="feedbacks-container">
    <li class="feedbacks-card">
      <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
      </div>
      <p class="feedback">Сумка дуже зручна та стильна, використовую щодня!</p>
      <span class="feedbacks-author">Анна</span>
    </li>

    <li class="feedbacks-card">
      <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
      </div>
      <p class="feedback">Відмінна якість матеріалів, приємно здивована.</p>
      <span class="feedbacks-author">Ігор</span>
    </li>

    <li class="feedbacks-card">
      <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
      </div>
      <p class="feedback">Сумка повністю відповідає опису, рекомендую!</p>
      <span class="feedbacks-author">Олена</span>
    </li>

    <li class="feedbacks-card">
      <div class="feedbacks-stars">
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-svg" width="20" height="20">
          <use href="../img/sprite.svg#icon-star-filled"></use>
        </svg>
        <svg class="feedbacks-empty" width="20" height="20">
          <use href="../img/sprite.svg#icon-star"></use>
        </svg>
      </div>
      <p class="feedback">Швидка доставка та гарне обслуговування.</p>
      <span class="feedbacks-author">Сергій</span>
    </li>
  </ul>
</section>
