<section class="section gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img 
        src="./public/gallery-images/eco-on-chair.jpg"
        srcset="./public/gallery-images/eco-on-chair.jpg 1x, ./public/gallery-images/eco-on-chair@2x.jpg 2x"
        alt="eco on chair">
      </li>
      <li class="gallery-item">
        <img src="./public/gallery-images/stylish-man-walking.jpg" 
        srcset="./public/gallery-images/stylish-man-walking.jpg 1x, ./public/gallery-images/stylish-man-walking@2x.jpg 2x"
        alt="stylish man walking">
      </li>
      <li class="gallery-item">
        <img src="./public/gallery-images/woman-in-park.jpg" 
        srcset="./public/gallery-images/woman-in-park.jpg 1x, ./public/gallery-images/woman-in-park@2x.jpg 2x"
        alt="woman in park">
      </li>
      <li class="gallery-item">
        <img src="./public/gallery-images/woman-with-products.jpg" 
        srcset="./public/gallery-images/woman-with-products.jpg 1x, ./public/gallery-images/woman-with-products@2x.jpg 2x"
        alt="woman with products">
      </li>
    </ul>
  </div>
</section>