<section class="advantages" id="advantages">
    <div class="advantages-title">
        <h3 class="advantages-tagline">Переваги</h3>
        <h2 class="advantages-heading">Чому обрати нас?</h2>
        <p class="advantages-text">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи
            EcoTote, ви підтримуєте екологічну відповідальність.
        </p>
    </div>
    <ul class="advantages-list">
        <li class="advantages-item">
            <picture>
                <source srcset="/img/advantages/des-ecomaterials1x.jpg   1x, /img/advantages/des-ecomaterials2x.jpg 2x"
                    media="(min-width:1440px)">
                <source
                    srcset="/img/advantages/tabl-ecomaterials1x.jpg   1x, /img/advantages/tabl-ecomaterials2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/img/advantages/mob-ecomaterials1x.jpg   1x, /img/advantages/mob-ecomaterials2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages-image" src="/img/advantages/des-ecomaterials1x.jpg"
                    alt="Стійкість та екологічність" width="421">
            </picture>
            <div class="advantages-card">
                <h3 class="advantages-card-title">Стійкість та екологічність</h3>
                <p class="advantages-card-text">Виготовлені з органічної бавовни та переробленого пластику.</p>
            </div>
        </li>
        <li class="advantages-item">
            <picture>
                <source srcset="/img/advantages/des-durability1x.jpg   1x, /img/advantages/des-durability2x.jpg 2x"
                    media="(min-width:1440px)">
                <source srcset="/img/advantages/tabl-durability1x.jpg   1x, /img/advantages/tabl-durability2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/img/advantages/mob-durability1x.jpg   1x, /img/advantages/mob-durability2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages-image" src="/img/advantages/des-durability1x.jpg" alt="Міцність і довговічність"
                    width="421">
            </picture>
            <div class="advantages-card">
                <h3 class="advantages-card-title">Міцність і довговічність</h3>
                <p class="advantages-card-text">Наші сумки мають посилені шви для тривалого використання.</p>
            </div>
        </li>
        <li class="advantages-item">
            <picture>
                <source srcset="/img/advantages/des-stylish1x.jpg   1x, /img/advantages/des-stylish2x.jpg 2x"
                    media="(min-width:1440px)">
                <source srcset="/img/advantages/tabl-stylish1x.jpg   1x, /img/advantages/tabl-stylish2x.jpg 2x"
                    media="(min-width:768px)">
                <source srcset="/img/advantages/mob-stylish1x.jpg   1x, /img/advantages/mob-stylish2x.jpg 2x"
                    media="(max-width:767px)">
                <img class="advantages-image" src="/img/advantages/des-stylish1x.jpg" alt="Стильний та сучасний дизайн"
                    width="421">
            </picture>
            <div class="advantages-card">
                <h3 class="advantages-card-title">Стильний та сучасний дизайн</h3>
                <p class="advantages-card-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
            </div>
        </li>
    </ul>
</section>