a {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: normal;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    background: #75d281;
    height: 64px;
}

@media screen and (min-width: 768px) {
    .header-container {
        padding: 14px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .header-container {
        height: 72px;
        padding: 13px 64px;
    }
}

.header-nav-list-item {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

@media screen and (min-width: 1440px) {
.header-nav-list-item:hover,
    .header-nav-list-item:focus {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-underline-offset: 8px;
    }

    .header-nav-list-item:active {
        color: #3ac04c;
    }
}

.header-address-list-item {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

@media screen and (min-width: 1440px) {

    .header-address-list-item:hover,
    .header-address-list-item:focus {
        text-decoration: underline;
        text-decoration-color: currentColor;
        text-underline-offset: 8px;
    }

    .header-address-list-item:active {
        color: #3ac04c;
    }
}

@media screen and (min-width: 1440px) {
    .header-nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 175px;
    }
}

.header-nav-list {
    display: none;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .header-nav-list {
        gap: 32px;
        display: flex;
    }
}

.header-address-list {
    display: none;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .header-address-list {
        gap: 16px;
        display: flex;
    }
}

.burger-button {
    position: absolute;
    border: none;
    top: 8px;
    right: 12px;
    height: 48px;
    width: 48px;
    padding: 0;
    display: block;
    background-color:#75d281;
}

@media screen and (min-width: 768px) {
    .burger-button {
        right: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .burger-button {
        display: none;
    }
}

/* mobile-menu */

.mobile-menu {
    position: fixed;
    background-color: #75d281;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (min-width: 1440px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    height: 64px;
}

@media screen and (min-width: 768px) {
    .mobile-menu-header {
    padding: 14px 32px;
    }
}

.burger-exit-button {
    position: absolute;
    border: none;
    top: 8px;
    right: 12px;
    height: 48px;
    width: 48px;
    padding: 0;
    display: block;
    background-color: #75d281;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
}

.mobile-header-nav-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 32px 20px;
    gap: 32px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .mobile-header-nav-list {
        padding: 32px;
        margin-bottom: 32px;
    }
}

.mobile-header-nav-list-item {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.mobile-header-nav-list-item:active {
    color: #3ac04c;
}

.mobile-header-address-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 32px 0 0 16px;
    gap: 16px;
    margin-bottom: 92px;
}

@media screen and (min-width: 768px) {
    .mobile-header-address-container {
        padding: 32px 0 0 32px;
        margin-bottom: 128px;
    }
}

.mobile-header-address-list-item {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}