

.hero {
width: 100%;
    padding: 64px 16px;
    background-color: #ebf8ed;

}

.hero-container {
/*max-width: 320px;*/
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-title,
.hero-text,
.hero-btn,
.hero-foto-wrapper {
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
}

.hero-name {
    display: flex;
    flex-direction: column;
gap: 20px;
}

.hero-title {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    max-width: 288px;

}
.hero-text {
    display: flex;
        flex-direction: column;
        gap: 24px;
}

.hero-description {
    font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030a06;
}

.hero-btn {
    display: block;
border: 1px solid #030a06;
    border-radius: 6px;
    padding: 12px 24px;
    max-width: 288px;
    height: 50px;
    background: #030a06;
    font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
        text-align: center;
       margin-bottom: 24px;
}

.hero-foto-wrapper {
border-radius: 40px;
overflow: hidden;
}
.hero-foto {
display: block;
border-radius: 40px;
width: 100%;
height: auto;  
}