ul {
  list-style: none;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.gallery-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01em;
  padding: 16px;
  margin-top: 32px;
  color: #030A06;
}

.gallery-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  margin-top: 16px;
  color: #030A06;
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
  border-radius: 4px;
}
