.gallery-container {
  margin: 0 auto;
  padding: 0 16px;
}

.gallery-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding: 16px;
  margin-top: 32px;
  color: #030A06;
}

.gallery-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6em;
  text-align: center;
  margin-top: 16px;
  color: #030A06;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.gallery-item {
  border-radius: 32px;
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

@media screen and (max-width: 767px) {
  .gallery-list {
    display: flex;
    flex-direction: column;
  }
  
  .gallery-item:nth-child(1) {
    order: 4; 
  }
  
  .gallery-item:nth-child(2) {
    order: 2; 
  }
  
  .gallery-item:nth-child(3) {
    order: 3; 
  }
  
  .gallery-item:nth-child(4) {
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 340px;
    gap: 20px;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 32px;
  }

  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  }

  .gallery-text {
font-weight: 400;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #030a06;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 240px;
    margin-top: 32px;
  }
}