.section {
    padding: 32px 0;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 64px 0;
    }
}

/*section 4 styles*/

.assortment-title {
    margin-bottom: 32px;
    text-align: center;
}

.assortment-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
}

.assortment-img {
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 16px;
}

.assortment-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}

.assortment-description {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
    min-height: 44px;
}

.assortment-price {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
}

.assorment-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    border: 1px solid #030A06;
    border-radius: 6px;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    opacity: 1;
    text-align: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.assorment-button:hover,
.assorment-button:focus {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {

    .assortment-list {
        row-gap: 48px;
        column-gap: 24px;
    }

    .assortment-item {
        width: calc((100% - 1*24px) / 2);
    }
}

@media screen and (min-width: 1440px) {

    .assortment-list {
        row-gap: 64px;
    }

    .assortment-item {
        width: calc((100% - 3*24px) / 4);
        cursor: pointer;
    }

    .assortment-button {
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .assorment-button:active {
        opacity: 0.6;
        color: #113916;
        border: 1px solid #113916;
    }
}

